<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- miuix-blur 声明 minSdk 33，我们用 RenderEffect 已运行时降级，强制合入 -->
    <uses-sdk tools:overrideLibrary="top.yukonga.miuix.kmp.blur" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Material3.DynamicColors.Light"
        android:description="@string/xposeddescription">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposedscope" />
        <meta-data android:name="xposeddescription" android:value="@string/xposeddescription" />

    </application>
</manifest>